@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* start body */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body{
	background: #000;
	min-height: 100vh;
}

#header {
	width: 100%;
	height: 100vh;
	background: linear-gradient(rgba(24, 23, 23, 0.5), rgba(27, 27, 27, 0.2)), url("images/personal/vinay3.jpg") top center;
	background-size: cover;
	background-position: center;
	opacity: 0.8; 
}

.container {
	padding: 20px 8%;
	position: relative;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	position:static;
}

#logo {
	font-size: 40px;
	color: white;
	text-decoration: none;
	margin-top: 150px;
	text-shadow: 2px 2px 5px grey;
}

#logo:hover {
	color: lemonchiffon;
}

nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 18px;	
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
}
nav ul li a:hover {
	color: lemonchiffon;
	text-decoration: underline;
}

.hero-title {
	font-weight: 700;
	position: relative; 
	color: white;
	opacity: 1;
	height: 100vh;
	font-size: 66px;	
	letter-spacing: 4px; 
	text-align: center;
	align-items: center;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;	
	text-shadow: 2px 2px 5px grey;

  } 
  #hey{
	color: black;
}

/* end of header */

/* about section */

#about {
	background-color: white;
  }

.About .container {
	background-color: white;
	width: 100%;
	align-items: center;
  } 

.about-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin: auto;
	width: 100%;
	padding: 40px;
	background-color: rgb(243, 243, 243);
	margin-top: 10px;
	margin-bottom: 5px;
	border-radius: 6px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.about-box .about-col-1 {
	margin-right: 12px;
	flex-basis: 40%;
}

#myimage {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	margin-right: 4px;
}

.about-box .about-col-2 {
	margin-left: 12px;
	flex-basis: 55%;
}

.about-box .about-col-2 {
	text-align: left;
	font-family: 'Poppins', sans-serif;
}

.about-box h1 {
	font-size: 48px;
	text-align: center;
	text-shadow: 2px 2px 5px grey;

}

.about-box p {
	font-size: 18px;
	text-align: justify;
}

.tab-titles {
	display: flex;
	margin: 12px 0 30px;
}

.tab-links {
	margin-right: 40px;
	font-size: 19px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;

}

.tab-links:hover {
	color: grey;
	cursor: pointer;
}

.tab-links::after {
	content: '';
	width: 0;
	height: 3px;
	background: grey;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
}

.tab-links.active-link::after {
	width: 50%;
}

.tab-content {
	display: none;
} 

.tab-content.active-tab {
	display: block;
}

.skillimg {
	margin-right:4px;
}
#education-name{
	font-size: 18px;
}
#education-degree{
	font-size: 16px; 
	font-weight: 200;
	color: rgb(66, 65, 65);
}
#education-score{
	font-size: 14px; 
	font-weight: 500; 
	color: black; 
	text-align: left;
}

#skill div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 10px;
}

#skilltext {
	text-align: center;
}

#skill {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 5px;
	margin-top: 18px;
	margin-bottom: 15px;
}

#skill img {
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

#hobby {
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 4px 8px;
	padding: 5px 5px;
}
#hobby div {width: 80%;}
/* end of about section */

/* service section */

.service {
	background: rgb(243, 243, 243);
	font-family: 'Poppins', sans-serif;
}
.service h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 48px;
	color: black;
	padding: 15px;
	text-shadow: 2px 2px 5px grey;

}

.service-box {
	display: flex;
	margin: auto;
	width: 100%;
	padding: 30px;
	background-color: white;
	margin-top: 12px;
	margin-bottom: 12px;
	border-radius: 6px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.service-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}

#serviceimg {
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 15px;
	display: block;
}

.service-list div {
	background:  rgb(243, 243, 243);
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);

}

.service-list div:hover {
	-ms-transform: scale(1.2);
  -webkit-transform: scale(1.2); 
  transform: scale(1.1); 
  transition: 0.2s;
}

/* end of service section */

/* activity section */

.activity {
	background: white;
	font-family: 'Poppins', sans-serif;

}
.activity h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 48px;
	color: black;
	padding: 30px;
	text-shadow: 2px 2px 5px grey;

}

.activity-box {
	display: flex;
	margin: auto;
	width: 100%;
	padding: 30px;
	background-color: rgb(243, 243, 243);
	margin-top: 12px;
	margin-bottom: 12px;
	border-radius: 6px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.activity-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	margin-top: 25px;
	margin-bottom: 20px;
}

#activityimg {
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 15px;
	display: block;
}

.activity-list div {
	background:  white;
	padding: 30px;
	border-radius: 4px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);

}
.activity-list div:hover {
	-ms-transform: scale(1.2);
  	-webkit-transform: scale(1.2); 
  	transform: scale(1.1); 
  	transition: 0.2s;
}

/* end of activity section */

/* project section */

.project {
	background: rgb(243, 243, 243);
	font-family: 'Poppins', sans-serif;

}
.project h1 {
	text-transform: uppercase;
	text-align: center;
	font-size: 48px;
	color: black;
	padding: 30px;
	text-shadow: 2px 2px 5px grey;

}

.project-box {
	display: flex;
	margin: auto;
	width: 100%;
	padding: 25px;
	background-color: white;
	margin-top: 12px;
	margin-bottom: 12px;
	border-radius: 6px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.project-list div:hover {
	-ms-transform: scale(1.2);
  	-webkit-transform: scale(1.2); 
  	transform: scale(1.1); 
  	transition: 0.2s;
}

.project-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 40px;
	margin-top: 25px;
	margin-bottom: 18px;
}

#projectimg {
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 15px;
	display: block;
}

.project-list div {
	background:  rgb(243, 243, 243);
	padding: 20px;
	width: 100%;
	border-radius: 4px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 18px 0 rgba(0, 0, 0, 0.19);

}

/* end of project section */

/* contact section */

.contact-details {
	background: white;
}

.contact-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin: auto;
	width: 100%;
	padding: 40px;
	background-color: rgb(243, 243, 243);
	color: black;
	margin-top: 32px;
	margin-bottom: 10px;
	border-radius: 6px;
	font-family: 'Poppins', sans-serif;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.socio-icons a {
	margin-right: 6px;
	display: inline-block;
	transition: 0.5s;
}
.socio-icons a:hover {
	cursor: pointer;
	transform: translateY(-4px);
}


#btn {
	display: block;
	margin: 30px;
	width: fit-content;
	padding: 8px 20px;
	border-radius: 4px;
	text-decoration: none;
	color: rgb(243, 243, 243);
	background-color: rgb(73, 64, 90);
	font-family: 'Poppins', sans-serif;
}

button:hover {
	background-color: rgb(83, 70, 114);
	color: black;
}
#btn:hover {
	color: black;
	background-color: rgb(175, 154, 154);
}

.contact-right form {
	width: 100%;
}

form input, form textarea {
	width: 100%;
	border : 0;
	outline: none;
	background: rgb(212, 206, 206);
	padding: 10px;
	margin: 12px 0;
	color: black;
	font-size: 16px;
	border-radius: 4px;
	font-family: 'Poppins', sans-serif;
}

form input::placeholder, form textarea::placeholder {
	color: black;
}
/* end of contact section */

/* for smaller screens */
nav .fa-solid {
	display: none;
}

.copyright {
	background-color: black;
	color: white;
	width: 100%;
	font-size: 18px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width: 500px) {
	#hey{
		color: white;
	}
	#header {
		width: 100%;
		height: 100vh;
		background: linear-gradient(rgba(24, 23, 23, 0.5), rgba(27, 27, 27, 0.2)), url("images/personal/vinay3.jpg") top center;
		background-size: cover;
		background-position: center;
		}
	.hero-title {
		font-weight: 700;
		position: relative; 
		color: white;
		height: 100vh;
		font-size: 40px;	
		letter-spacing: 4px; 
		margin-top: 280px;
		text-align: center;
	  }
	  
		#skill {
			display: grid;
			grid-template-columns: auto auto auto auto;
			grid-gap: 2px;
			margin-top: 18px;
			margin-bottom: 15px;
		}
		
		#skill div {
			width: 60%;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
			padding: 10px 4px;

		}
		#skill p {
			font-size: 12px;

		}
	 
	  #hobby {
		display: grid;
		grid-template-columns: auto auto auto;
		margin: 4px 12px;
		padding: 5px 5px;
	}
	#hobby div {
		width: 60%;
		margin-left: 10%;
		padding: 12px 6px;
	}
	#hobby p {
		font-size: 14px;
	}

	  #myimage {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		margin-right: 4px;
	}
	
	  

	  nav .fa-solid {
		display: block;
		font-size: 25px;
	  }
	  nav ul {
		background-color: black;
		position: fixed;
		top: 0;
		right: -200px;
		width: 200px;
		height: 100vh;
		padding-top: 50px;
		z-index: 2;
		transition: right 0.5s;
	  }
	  nav ul li{
		display: block;
		margin: 25px; 
	  }
	  nav ul .fa-solid{
		position: absolute;
		top: 25px;
		left: 25px;
		cursor: pointer;
	  }
	nav .menu {
		right: 25px;
		position: absolute;
		cursor: pointer;
	  }
	  #logo {
		font-size: 34px;
		color: white;
		text-decoration: none;
		margin-bottom: 100%;
		margin-top: 15px;	}
	
	#logo:hover {
		color: lemonchiffon;
	}
	 
	  
	
	  .copyright {
		background-color: black;
		color: white;
		width: 100%;
		font-size: 85%;
		padding: 20px 0;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Poppins', sans-serif;
	}
	/**/
	.about-box {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		margin: auto;
		width: 100%;
		padding: 15px;
		background-color: rgb(243, 243, 243);
		margin-top: 10px;
		margin-bottom: 10px;
		border-radius: 6px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	#about-me {
		font-size: 34px;
	  }
	  #aboutme-description {
		font-size: 15px;
		text-align: left;
	  }

	  .tab-titles p {
		font-size: 14px;
		font-weight: 600;
		}
		#education-name{
			font-size: 16px;
			text-align: left;
			font-weight: 800;
		}
		#education-degree{
			font-size: 13px; 
			font-weight: 600;
			color: rgb(66, 65, 65);
		}
		#education-score{
			font-size: 12px; 
			font-weight: 500; 
			color: black; 
			text-align: left;
		}
		
		.service-box {
			display: flex;
			margin: auto;
			width: 100%;
			padding: 15px;
			background-color: white;
			margin-top: 12px;
			margin-bottom: 12px;
			border-radius: 6px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		}
		
		.activity-box {
			display: flex;
			margin: auto;
			width: 100%;
			padding: 15px;
			background-color: rgb(243, 243, 243);
			margin-top: 12px;
			margin-bottom: 12px;
			border-radius: 6px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		}
		.project-box {
			display: flex;
			margin: auto;
			width: 100%;
			padding: 15px;
			background-color: white;
			margin-top: 12px;
			margin-bottom: 12px;
			border-radius: 6px;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

		}
		.contact-left p{
			font-size: 14px;
			font-weight: 600;
		}
		.socio-icons a {
			margin-right: 16px;
			display: inline-block;
			transition: 0.5s;
		}
		.socio-icons a:hover {
			cursor: pointer;
			transform: translateY(-4px);
		}
		.service {
			background: rgb(243, 243, 243);
			font-family: 'Poppins', sans-serif;
		}
		.service-list div {
			background:  rgb(243, 243, 243);
		}
		
		.activity {
			background: white;
			font-family: 'Poppins', sans-serif;
		
		}
		.activity-list div {
			background:  white;
		}
		.project {
			background: rgb(243, 243, 243);
			font-family: 'Poppins', sans-serif;
		
		}
		.project-list div {
			background:  rgb(243, 243, 243);
		}
}

/* end of smaller screens section */

#msg {
	color: black;
	display: block;
}